
.App {
  font-family: sans-serif;
  text-align: center;
}


/* footer fixed to the bottom  */
 html,
 body,
 #root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin: 0 auto;

}



.wrapper-content {
  flex-grow: 1 ;
  max-width: 1200px;
  margin: 0 auto;
  
}

@media (max-width: 614px) {
  .main {
     width:450px !important;
    //  display: flex;
     justify-content: center;
  }
}
@media (max-width: 515px) {
  .main {
     width: 300px;
     justify-content: center;
  }
}



